<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient px-3 py-1 fixed-top">
  <span class="navbar-brand me-4">MATERIAL ADVISOR</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    {{ translate('navigation.title') }}
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main-page" routerLinkActive="active">{{ translate('navigation.mainPage') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/topic" routerLinkActive="active">{{ translate('navigation.topicConstructor') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/group" routerLinkActive="active">{{ translate('navigation.groups') }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item me-3">
        <app-language-dropdown></app-language-dropdown>
      </li>
      <li class="nav-item">
        <a mat-button [matMenuTriggerFor]="menu" class="nav-link" routerLink="/account" routerLinkActive="active">{{ translate('navigation.account') }}</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>

<main class="container">
  <div data-bs-spy="scroll" class="content">
    <router-outlet></router-outlet>
  </div>
</main>