<h2 mat-dialog-title>
  {{ t('reportGeneration.header') }}
</h2>
<loader [isLoading]="isLoading" [overlay]="false"/>
<div *ngIf="!isLoading" mat-dialog-content>
  <mat-label>
    {{ t('reportGeneration.labelInstruction') }}
  </mat-label>
  <mat-list *ngFor="let item of items">
    <mat-list-item>
      <div class="d-flex align-items-center">
        <span *ngIf="!item.file.file">
          {{ t('reportGeneration.generationStarted') }} {{ item.file.generatedAt | date: 'yyy-MM-dd HH:mm:ss' }}
        </span>
        <span *ngIf="item.file.file" class="link-text" (click)="!item.isLoading && onDownload(item)">
          {{ item.file.fileName ?? t('reportGeneration.generationStarted') + ' ' + item.file.generatedAt }}
        </span>
        <div *ngIf="item.isLoading || item.file.file == null" class="ms-1">
          <mat-progress-spinner [diameter]="18" mode="indeterminate"/>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ t('actions.cancel') }}
  </button>
  <button mat-button color="primary" (click)="onCreateNew()">
    {{ t('reportGeneration.createNewReport') }}
  </button>
</div>