<h1>{{ translate('mainPage.title') }}</h1> 

<div class="mb-4" *ngFor="let topic of topics">
  <span>{{ translateText(topic.texts) }}</span>
  <span *ngIf="isOwner(topic)">
    <button mat-icon-button (click)="navigateToTopicDetails(topic.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </span>
  
  <div class="ms-3" *ngFor="let knowledgeCheck of topic.knowledgeChecks">
    <span *ngIf="isOwner(topic)">
      <span>{{ knowledgeCheck.number }}. {{ knowledgeCheck.name }}</span>
      <button mat-icon-button (click)="navigateToKnowledgeCheckDetails(knowledgeCheck.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    <span *ngIf="!isOwner(topic)">
      <a href="/pass/{{knowledgeCheck.id}}">
        {{ knowledgeCheck.number }}. {{ knowledgeCheck.name }} ({{ translateText(topic.texts) }}: {{knowledgeCheck.usedAttempts}}{{knowledgeCheck.maxAttempts == undefined ? "" : ("/" + knowledgeCheck.maxAttempts)}})
      </a>
    </span>
  </div>
</div>