<h1>{{ translate('mainPage.title') }}</h1> 

<div class="mb-4" *ngFor="let topic of topics">
  <span>{{ translateText(topic.name) }}</span>
  <span *ngIf="isOwner(topic)" class="ms-1">
    <button mat-icon-button (click)="navigateToTopicDetails(topic.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteTopic(topic.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </span>
  
  <div class="ms-3" *ngFor="let knowledgeCheck of topic.knowledgeChecks">
    <span *ngIf="isOwner(topic)">
      <span>{{ knowledgeCheck.name }}</span>
      <span class="ms-1">
        <button mat-icon-button (click)="openKnowledgeCheckDialog(topic, knowledgeCheck.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteKnowledgeCheck(topic, knowledgeCheck.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </span>
    <span *ngIf="!isOwner(topic)">
      <span class="inactive-knowledge-check" *ngIf="!isActual(knowledgeCheck)">
        {{ knowledgeCheck.name }}. {{getDateLabel(knowledgeCheck)}} {{getAttemptsLabel(knowledgeCheck)}}
      </span>
      <a *ngIf="isActual(knowledgeCheck)" href="/knowledge-check/{{knowledgeCheck.id}}">
        {{ knowledgeCheck.name }}. {{getDateLabel(knowledgeCheck)}} {{getAttemptsLabel(knowledgeCheck)}}
      </a>
    </span>
  </div>
</div>