body {
    padding-top: 4rem;
}

.uppercase-text {
    text-transform: uppercase;
}

.pointer-cursor {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
