<div class="form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <h2>{{ isRegister ? translate('auth.RegisterHeader') : translate('auth.LoginHeader') }}</h2>

    <div *ngIf="isRegister">
      <label for="email">{{translate('auth.Email')}}</label>
      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="{{translate('auth.EmailPlaceholder')}}"
        required
      />
      <div *ngIf="authForm.get('email')?.touched && authForm.get('email')?.invalid">
        <small *ngIf="authForm.get('email')?.errors?.['required']">{{translate('auth.EmailRequired')}}</small>
      </div>
    </div>

    <div *ngIf="isRegister">
      <label for="username">{{translate('auth.UserName')}}</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="{{translate('auth.UserNamePlaceholder')}}"
        required
      />
      <div *ngIf="authForm.get('username')?.touched && authForm.get('username')?.invalid">
        <small *ngIf="authForm.get('username')?.errors?.['required']">{{translate('auth.UserNameRequired')}}</small>
      </div>
    </div>

    <div *ngIf="!isRegister">
      <label for="login">{{translate('auth.Login')}}</label>
      <input
        id="login"
        type="text"
        formControlName="login"
        placeholder="{{translate('auth.LoginPlaceholder')}}"
        required
      />
      <div *ngIf="authForm.get('login')?.touched && authForm.get('login')?.invalid">
        <small *ngIf="authForm.get('login')?.errors?.['required']">{{translate('auth.LoginRequired')}}</small>
      </div>
    </div>

    <div>
      <label for="password">{{translate('auth.Password')}}</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="{{translate('auth.PasswordPlaceholder')}}"
        required
      />
      <div *ngIf="authForm.get('password')?.touched && authForm.get('password')?.invalid">
        <small *ngIf="authForm.get('password')?.errors?.['required']">{{translate('auth.PasswordRequired')}}</small>
      </div>
    </div>

    <div *ngIf="isRegister">
      <label for="confirmPassword">{{translate('auth.ConfirmPassword')}}</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="{{translate('auth.ConfirmPasswordPlaceholder')}}"
        required
      />
      <div *ngIf="authForm.get('confirmPassword')?.touched && authForm.get('confirmPassword')?.invalid">
        <small *ngIf="authForm.get('confirmPassword')?.errors?.['required']">{{translate('auth.ConfirmPasswordRequired')}}</small>
      </div>
      <div *ngIf="authForm.get('confirmPassword')?.touched && authForm.get('confirmPassword')?.valid">
        <small *ngIf="authForm.get('confirmPassword')?.value !== authForm.get('password')?.value">{{translate('auth.EnterEqualPasswords')}}</small>
      </div>
    </div>

    <button type="submit">{{ isRegister ? translate('auth.ToRegister') : translate('auth.ToLogin') }}</button>
  </form>

  <div *ngIf="errorMessage" class="mt-2 alert alert-danger">
    {{ errorMessage }}
  </div>

  <button class="switch-button" (click)="toggleMode()">
    {{ isRegister ? translate('auth.LoginOffer') : translate('auth.RegisterOffer') }}
  </button>
</div>