<h3 mat-dialog-title>
  {{ t('group.createDialog.createGroup') }}
</h3>
<mat-dialog-content>
  <form [formGroup]="groupForm">
    <div class="row">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>
          {{ t('group.createDialog.groupName') }}
        </mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>
          {{ t('group.createDialog.members') }}
        </mat-label>
        <mat-select formControlName="members" [multiple]="true" (scroll)="onScroll()">
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.name }} ({{ user.email }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ t('actions.cancel') }}
  </button>
  <button mat-button (click)="onCreate()">
    {{ t('actions.create') }}
  </button>
</mat-dialog-actions>