
<div [formGroup]="form">
  <div formArrayName="answers">
    <div *ngFor="let answerGroup of answersFormArray.controls; let i = index;" [formGroup]="toForm(answerGroup)" class="text-row">
      <mat-card class="answer-card all-width">
        <div class="all-width">
          <div class="text-row">          
            <mat-form-field appearance="outline" class="points-select" subscriptSizing="dynamic">
              <mat-label>Points</mat-label>
              <input matInput formControlName="points" type="number" min="1" />
            </mat-form-field>
          </div>
      
          <texts-input [form]="toForm(answerGroup)" formName="content" [textsFormArray]="getTextsFormArray(i)" [isOneRow]="false" />
        </div>

      </mat-card>
      <button mat-raised-button color="warn" (click)="removeAnswer(i)">-</button>
    </div>
  </div>

  <div class="add-button-container">
    <button mat-raised-button color="primary" (click)="addAnswer()">+</button>
  </div>
</div>
