<loader [isLoading]="isLoading"/>

<h3 mat-dialog-title>
  {{ data?.id ? 'Edit Check' : 'Add Check' }}
</h3>

<mat-dialog-content *ngIf="!isLoading" [formGroup]="form">
  <div class="container-fluid">
    <div class="row pt-2">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" required />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Max Attempts</mat-label>
        <input matInput type="number" formControlName="maxAttempts" />
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Time</mat-label>
        <input matInput type="number" formControlName="time" />
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Dropdown</mat-label>
        <mat-select formControlName="groups" multiple>
          <mat-option *ngIf="isLoading" disabled>Loading...</mat-option>
          <mat-option *ngFor="let group of groups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>